<h1>Lender</h1>

<form action="/lenders" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>First_Name:</label>
		<input type="text" name="lender[first_name]">		
	</p>
	<p>
		<label>Last_Name:</label>
		<input type="text" name="lender[last_name]">		
	</p>
	<p>
		<label>Email:</label>
		<input type="text" name="lender[email]">
	</p>
	<p>
		<label>Password</label>
		<input type="password" name="lender[password]">
	</p>
	<p>
		<label>Password Confirmation</label>
		<input type="password" name="lender[password_confirmation]">
	</p>
	<p>
		<label>Money</label>
		<input type="number" name="lender[money]">
	</p>

	<input type="submit" value="Register">
</form>

<h1>Borrower</h1>

<form action="/borrowers" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>First_Name:</label>
		<input type="text" name="borrower[first_name]">		
	</p>
	<p>
		<label>Last_Name:</label>
		<input type="text" name="borrower[last_name]">		
	</p>
	<p>
		<label>Email:</label>
		<input type="text" name="borrower[email]">
	</p>
	<p>
		<label>Password</label>
		<input type="password" name="borrower[password]">
	</p>
	<p>
		<label>Password Confirmation</label>
		<input type="password" name="borrower[password_confirmation]">
	</p>
	<p>
		<label>Need Money For:</label>
		<input type="string" name="borrower[need_money]">
	</p>

	<p>
		<label>Description:</label>
		<textarea name="borrower[desc]"></textarea> 
	</p>

	<p>
		<p>
		<p><label>Amount Needed:</label>
	 <select name="borrower[amount_needed]">
		<option value="500">500</option>
		<option value="1000">1000</option>
		<option value="5000">5000</option>
		<option value="10000">10000</option>
	</select>


	<input type="submit" value="Register">
</form>



<Button><a href='/'>Login</a></Button>